.ex-main
  .ex-main__inner
    %h2 商品の情報を入力
  .ex-main__inner
    .ex-main__inner--content
      .ex-center
        .required-text 
          出品画像
          %span 必須 
        .text
          最大10枚までアップロードできます
        %label.ex-image
          %input{name: "image1",type: "file", style: "display: none;"}/
          %pre.ex-image__text ドラッグアンドドロップまたはクリックしてファイルをアップロード
  .ex-main__inner
    .ex-main__inner--content
      .ex-center
        .required-text 
          商品名
          %span 必須 
        %input.ex-form{name: "name", placeholder: "商品名(必須 40文字まで)", type: "text", value: ""}/
        .required-text 
          商品の説明
          %span 必須 
        %input.ex-lg-form{name: "text", placeholder: "商品名(必須 1,000文字以内) (色、素材、重さ、注意点など)", type: "text", value: ""}/
      
  .ex-main__inner
    .ex-main__inner--content
      .required-left
        商品の詳細
      .required-right
        .required-text 
          カテゴリー
          %span 必須 
        .text
        %input.ex-form{name: "email", placeholder: "--", type: "email", value: ""}/     
        .required-text 
          商品の状態
          %span 必須 
        .text
        %input.ex-form{name: "email", placeholder: "--", type: "email", value: ""}/
        
  .ex-main__inner
    .ex-main__inner--content
      .required-left
        配送について
      .required-right
        .required-text 
          配送料の負担
          %span 必須
        .text
        %input.ex-form{name: "email", placeholder: "--", type: "email", value: ""}/     
        .required-text 
          発送元の地域
          %span 必須 
        .text
        %input.ex-form{name: "email", placeholder: "--", type: "email", value: ""}/      
        .required-text 
          発送までの日数
          %span 必須 
        .text
        %input.ex-form{name: "email", placeholder: "--", type: "email", value: ""}/
      
  .ex-main__inner
    .ex-main__inner--content
      .required-left
        販売価格(300〜9,999,999)
      .required-right
        .sale-box
          .required-text 
            価格
            %span 必須 
          .text 
            ¥
            %input.sale-form{name: "email", placeholder: "--", type: "email", value: ""}/     
        .sale-box
          .required-text 
            販売手数料(100%)
          .text
            100
        .sale-box
          .required-text 
            販売利益
          .text
            1000
  .ex-main__inner
    .ex-main__inner--content
      .ex-center
        = link_to "次へ進む", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-mail"
        = link_to "戻る", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-back"
