.login-main
  .login-main__top
    アカウントをお持ちでない方はこちら
    %a.btn.btn-new{ :href => "https://www.mercari.com/jp/signup/registration/"}新規会員登録
  .login-main__inner
    .login-main__inner--content
      
      %button#facebool-login.btn.btn-facebook Facebookでログイン
      %button#google-login.btn.btn-google Googleでログイン

    .login-main__inner--form
      %input#login-form.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
      %input#login-form.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/

      %a.btn.btn-mail{ :href => "https://www.mercari.com/jp/signup/registration/"}ログイン


