.single-main
  %h2 会員情報入力
  .single-main__inner
    .single-main__inner--content
      ニックネーム 必須
      メールアドレス 必須
      パスワード 必須
      お名前(全角) 必須
      お名前カナ(全角) 必須
      生年月日 必須
      %a.btn.btn-mail{ :href => "https://www.mercari.com/jp/signup/registration/"}新規会員登録
      %button.btn.btn-facebook Facebookで登録する
      %button.btn.btn-google Googleで登録する


