.single-main
  %h2 会員情報入力
  .single-main__inner
    .single-main__inner--content
      .required-text 
        ニックネーム
        %span 必須 
      %input.single-form.login-input-text{:name => "email", :placeholder => "例)フリマ太郎", :type => "email", :value => ""}/
      .required-text 
        メールアドレス
        %span 必須
      %input.single-form.login-input-text{:name => "email", :placeholder => "PC・携帯どちらでも可", :type => "email", :value => ""}/
      .required-text 
        パスワード
        %span 必須
      %input.single-form.login-input-text{:name => "email", :placeholder => "６文字以上", :type => "email", :value => ""}/
      .required-text 
        パスワード（確認)
        %span 必須
      %input.single-form.login-input-text{:name => "email", :placeholder => "６文字以上", :type => "email", :value => ""}/
    
      %a.btn.btn-mail{ :href => "https://www.mercari.com/jp/signup/registration/"}次へ進む


