.single-main
  %h2 新規会員登録
  .single-main__inner
    .single-main__inner--content
      = link_to "新規会員登録", "registration/member", class: "btn btn-mail"
      %button.btn.btn-facebook Facebookで登録する
      %button.btn.btn-google Googleで登録する


