.single-main
  %h2 電話番号の確認
  .single-main__inner
    .single-main__inner--content
      .text 携帯電話の番号
      %input.login-input-text{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
      
      .text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用します。他のユーザーに公開されることはありません。

      %a.btn.btn-mail{ :href => "https://www.mercari.com/jp/signup/registration/"}SMSを送信する


