.single-main
  %h2 電話番号の確認
  .single-main__inner
    .single-main__inner--content
      .text 携帯電話の番号
      %input.single-form.login-input-text{:name => "email", :placeholder => "携帯電話の番号を入力", :type => "text", :value => ""}/
      
      %a.btn.btn-mail{ :href => "https://www.mercari.com/jp/signup/registration/"}次へ進む

      .text ※携帯電話は他のユーザーに公開されることはありません。

      