= render "products/header"

.l-p
  .l-page
    .side_bar
      = render "products/side_bar"

    .lp      
      .lp-info
        .lp-info-lo
          = link_to "ログアウト", "#", class: "lp-info-lot"

= render "products/footer"
