body{
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  margin: 0;
  text-align: center;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
