.single-container{
  min-height: 100vh;
}

.single-header{
  text-align: center;
  height: 128px;
  &__logo{   
    padding-top: 40px;
  }
  &__logo img{
    width: 185px;
    height: 49px;
  }
}


.single-footer{
  height: 128px;
  text-align: center;
  padding-bottom: 20px;
  &__logo{
    text-align: center;
    padding-top: 40px;
  }
  &__logo img{
    width: 80px;
    height: 65px;
  }
}

.single-form{
  padding: 10px 16px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 310px;box-sizing: content-box;
}

.s-flex{
  display: flex;
  justify-content: space-between;
}

.name-form{
  padding: 10px 16px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 160px;
}

.birth-form{
  padding: 10px 16px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 80px;
}

.birth-text{
  line-height: 50px;
}