.pur-main
  .pur-main__inner
    %h2 購入内容の確認
  .pur-main__inner
    .pur-main__inner--content
      .purchase-image
        = image_tag "logo_gray.svg"
      .purchase-text
        COACHシグネチャーショルダーバッグ
        ¥5,580 （税込）送料込み	

  .pur-main__inner
    .pur-main__inner--content
      .pur-left
        支払い金額
      .pur-right
        ￥3,333
       
  .pur-main__inner
    .pur-main__inner--content      
      .pur-left
        支払い方法
      .pur-right
        カテゴリー
    .pur-main__inner--text
      クレジットカード
      %br ************
      asadada

  .pur-main__inner
    .pur-main__inner--content
      .pur-left
        商品の詳細
      .pur-right 
        カテゴリー
    .pur-main__inner--text
      名古屋市名駅ああああああ
      山本 拓哉

  
  .pur-main__inner
    .pur-main__inner--content
      = link_to "次へ進む", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-mail"
       