.pur-main
  .pur-main__inner
    %h2 購入内容の確認
  .pur-main__inner
    .pur-main__inner--content
      .purchase-image
        = image_tag "logo_gray.svg"
      .purchase-text
        .required-text 
          COACHシグネチャーショルダーバッグ
          ¥5,580 （税込）送料込み	

  .pur-main__inner
    .pur-main__inner--content
      .pur-center
        .required-text 
          支払い金額	

          %span ¥5,580
       
  .pur-main__inner
    .pur-main__inner--content      
      .required-left
        商品の詳細
      .required-right
        .required-text 
          カテゴリー
    .pur-main__inner--text
      クレジットカード
      %br ************
      asadada

  .pur-main__inner
    .pur-main__inner--content
      .required-left
        商品の詳細
      .required-right
        .required-text 
          カテゴリー
    .pur-main__inner--text
      asdasdsa
      山本 拓哉

  
  .pur-main__inner
    .pur-main__inner--content
      .pur-center
        = link_to "次へ進む", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-mail"
       