.c-p{
  margin: auto;
}

.c-page {
  display: flex;
  margin: 40px auto 0;
  padding-bottom: 40px;
  width: 1020px;
}

.cp{
  width: 700px;
  height: 568px;
  margin-left: 40px;
}

.cp-pay{
  background-color: #ffffff;
  text-align:center;
  margin: 0;
  line-height: 49px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.cp-info{
  background-color: #ffffff;
  padding-top: 64px;
}

.cp-chapter{
  margin-left: -204px;
  font-weight: bold;
}

.cp-payment-tag{
  padding: 30px 0 30px 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  margin: 0 90px 0 90px;
}

.cp-payment-tag-c{
  display: flex;
  width: 350px;
  background: #ea352d;
  margin-left: 80px;
  height: 45px;
}

.cp-payment-tag-cv{
  margin-top: 11px;
  margin-left: 49px;
}

.cp-payment-tag-v{
  padding-left: 74px;
}

.cp-payment-tag-add{
  line-height: 2;
  padding-left: 8px;
  padding-top: 7px;
  color: #ffffff;
}

.cp-payment-remove{
  position: relative;
  top: -74px;
  left: 380px;
  padding: 4px 6px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ea352d;
  color: #ea352d;
  cursor: pointer;
}

.cp-payment-num{
  margin-left: 74px;
  font-size: 13px;
}

.cp-regist{
  height: 125px;
  line-height: 125px;
}