.l-p{
  margin: auto;
}

.l-page {
  display: flex;
  margin: 40px auto 0;
  padding-bottom: 40px;
  width: 1020px;
}

.lp{
  width: 700px;
  height: 568px;
  margin-left: 40px;
}

.lp-info{
  background-color: #ffffff;
  padding: 64px;
}

.lp-info-lo{
  width: 320px;
  background: #ea352d;
  margin: auto;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align:center;
}

.lp-info-lot{
  color: #ffffff;
}
