.d-main
  .d-product
    %h1 収納ケース ハンドメイド
    .text 『AirPods  proケース カバー 本革 収納ケース ハンドメイド』は、378回の取引実績を持つ
  .d-image
    = image_tag "logo_red.svg"
    .d-image__inner
  
 
  %table.d-table
    %tbody
      %tr
        %th 出品者
        %td owner
      %tr
        %th カテゴリー
        %td テスト
      %tr
        %th ブランド
        %td 
      %tr
        %th 商品の状態
        %td 新品
      %tr
        %th 配送料の負担
        %td 送料込み
      %tr
        %th 配送の方法
        %td らくらくメルカリ便
      %tr
        %th 配送元地域
        %td 愛知県
      %tr
        %th 発送日の目安
        %td 即日発送

  .d-price
    ¥333
    %span#tax (税込) 
    %span#postage 送料込み
    = link_to "購入画面に進む", "https://www.mercari.com/jp/signup/registration/", class: "btn btn-buy"
   
  .d-text testtesttesttesttesttest