.user-item
  .user-item__title
    Ownerさんのその他の出品
  .user-item__box
    = image_tag "logo_gray.svg"
    .user-item__box--name
      text
  .user-item__box
    = image_tag "logo_gray.svg"
    .user-item__box--name
      text
  .user-item__box
    = image_tag "logo_gray.svg"
    .user-item__box--name
      text
